/*** Colors
dark #414141
dark gray #767273
medium gray #C1BDBC
background lt gray #F2EFED
primary #3DA79A
accent blue #109AFE
accent red #F96D63
accent yellow #F6C548
***/




/**** global ****/
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #FFF;
  color: #414141;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

nav {
  background-color: #fff;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
}

.img {
  vertical-align: center;
}

/**** typography ****/

/* a:link, a:visited {
  color: #414141;
  text-decoration: none;
}

a:hover, a:active {
  color: #3DA79A;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-skip: edges;
} */


h1, h2, h3, h4, .description, .quote, .logotype {
  font-family: 'Halyard Display', 'Helvetica-Neue', Arial, Sans-Serif;
}

h1 {
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 6.7rem;
  margin-bottom: .8rem;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.8rem;
  margin-bottom: 1.6rem;
  text-transform: uppercase;
}

h3 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 4.8rem;
  margin-bottom: 1.6rem;
}

h4 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.5rem;
  margin-bottom: .8rem;
  text-transform: capitalize;
}

p{
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  max-width: 61.3rem;
}

a {
  color: #414141;
  text-decoration: none;
}

strong{
  font-weight: 400;
}

.small {
  font-size: 1.2rem;
}

.description {
  font-size: 2rem;
  font-weight: 300;
  line-height: 3.2rem;
}

.quote {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.3rem;
}

.btn {
  border: none;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 1.6rem;
  text-align: center;
}


.description strong {
  color: #239588;
}

.logotype {
  display: none;
  font-size: 2.8rem;
  font-weight: 500;
  padding-left: 1.6rem;
}

.logo_end {
  font-weight: 300;
}



.ib_h {
  color: #109AFE;
}


/**** buttons  ****/

.btn_hshell {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 25.3rem;
  width: 100%;
  z-index: 3;
}

.btn_small_dark {
  align-items: center;
  background: #414141;
  color: #fff;
  display: flex;
  height: 7.2rem;
  justify-content: center;
  width: 18.2rem;
}

.btn_shell {
  padding: 2.4rem 0;
}

.btn_sec_dark {
  align-items: center;
  background: #414141;
  color: #fff;
  display: flex;
  height: 6.4rem;
  justify-content: center;
  width: 22.2rem;
}

.btn_dbl_dark {
  align-items: center;
  background: #414141;
  color: #fff;
  display: flex;
  height: 6.4rem;
  justify-content: center;
  width: 15.8rem;
}

.btn_dbl_blue {
  align-items: center;
  background: #109AFE;
  color: #fff;
  display: flex;
  height: 6.4rem;
  justify-content: center;
  width: 15.8rem;
}

.figcap_shell {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.label {
  align-items: center;
  background: #109AFE;
  color: #fff;
  display: flex;
  height: 4.8rem;
  justify-content: center;
  width: 8.2rem;
}

/**** header  ****/


.header {
  background-color: #F2EFED;
  display: grid
}

.heronav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 2.4rem;
}




/**** nav menu  ****/

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 2.4rem;
}

.exp_menu {
  display: none;
}

/**** hero  ****/

.herocon {
  padding: 13.8rem 2.4rem 21rem 2.4rem;
}

.hero {
  background-color: #F2EFED;
  display: flex;
  justify-content: center;
  padding: 4rem 2.4rem;
}

.gradient {
  background-image: linear-gradient(#BBDCE5, #109AFE);
  height: 28.9rem;
  position: relative;
  z-index: 1;
}

.proj_img {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}




/**********     main content      **********/

.section_num {
  display: none;
}

.sub_sec {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5.6rem 2.4rem 4rem 2.4rem;
}

.inner_content {
  grid-area: inner_content;
  padding: 6rem 2.4rem 4rem 2.4rem;
}

.inner_content > h4 {
  text-transform: uppercase;
}

.selected {
  background-color: #F2EFED;
  padding: 3.2rem 2.4rem 1.6rem 2.4rem;
}

.proj_content {
  background-color: #fff;
  display: grid;
  grid-template-areas:
  "btn_shell"
  "inner_content";
  grid-template-columns: 1fr;

}

/**** Overview ****/

.overview {
  padding: 5.6rem 2.4rem;
}

.over_cont {
  display: flex;
  justify-content: center;
}

.over_cont p {
  max-width: 49rem;
}

.summary {
  display: grid;
  grid-template-columns: 1fr 4fr;
}


/**** Problem ****/

.problem {
  background-color: #F2EFED;
  padding: 5.6rem 2.4rem;
  text-align: center;
}

.prob_cont {
  display: flex;
  justify-content: center;
}


 /**** Solution ****/

.solution {
  padding: 5.6rem 0 0 0;
}

.sol {
  display: flex;
  justify-content: center;
}

.sc {
  display: flex;
  justify-content: center;
  padding: 0 2.4rem 4rem 2.4rem;
}

.si {
  position: relative;
  padding-top: 68%;
}

.si_img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}



/**** Process ****/

.process{
  background-color: #414141;
  color: #FFF;
  padding: 5.6rem 0;
}

.center {
  text-align: center;
  margin-bottom: 4.8rem;
}

.process_cont {
  display: flex;
  justify-content: center;
}

.process_grid {
  display: grid;
  grid-template-areas:
  "vert1 pi1 pc1"
  "vert2 pi2 pc2"
  "vert3 pi3 pc3"
  "vert4 pi4 pc4"
  "vert5 pi5 pc5";
  grid-template-columns: .5fr 1fr 4fr;
  grid-column-gap: 1.2rem;
}

.process_grid div:nth-child(3n+1) {
  border-left: .1rem solid #fff;
}

.hor hr {
  position: relative;
  padding-right: 2.4rem;
  top: -.8rem;
}

.process_grid

.process_grid div:nth-child(3n+2) {
    margin-top: .6rem;
}

.process_grid div:nth-child(3n) {
  margin-bottom: 2rem;
}


/**** Research & Define ****/

.sum_content {
  padding-bottom: 4rem;
}

.competitors {
  display: flex;
  justify-content: space-between;
  min-width: 32.7rem;
}

.ur_img {
  background-image: url("../images/user_research_m.jpg");
  background-size: cover;
  height: 12.8rem;
}

.ur_content, .results {
  padding: 4rem 2.4rem;
}
.ur_content {
  background-color: #F2EFED;
  display: flex;
  justify-content: center;
}

.results {
  display: flex;
  justify-content:center;
}

.chart1 {
  padding-bottom: 2.4rem;
}

.cl {
  display: flex;
  justify-content: center;
}

.chart1_leg {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}

.chart {
  padding: 2.4rem 0;
  text-align: center;
}

.percent_cont {
  display: flex;
  justify-content: center;
  padding: 0 2.4rem;
}

.percent_grid {
  display: flex;
  flex-wrap: wrap;
  min-width: 32rem;
  max-width: 70rem;
}

.percent {
  align-items: flex-start;
  display: flex;
  min-width: 32rem;
  /* max-width: 32.7rem; */
  padding: 0 1.2rem 4rem 1.2rem;
}

.percent .p1 {
  align-items: center;
  display: flex;
  color: #109AFE;
  min-width: 10.4rem;
}

.percent .c1 {
  min-width: 18.7rem;
}

.insight {
  align-items: center;
  background-color: #414141;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 5.6rem 2.4rem;
}

.insight p {
  max-width: 61.3rem;
}

/**** Strategy ****/

.pers_cont {
  background-color: #F2EFED;
  padding-top: 4rem;
}

.persona {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}

.per_h {
  background-color: #109AFE;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 4rem 2.4rem;
}

.per_shell {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 0 2.4rem 4rem 2.4rem;
}

.per_shell p {
  max-width: 40rem;
}

.per_grid {
  display: grid;
  grid-column-gap: 1.2rem;
  grid-template-columns: 1fr 6fr;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.per_grid div:nth-child(odd) {
  color: #109AFE;
}

.per_cont > h4 {
  color: #109AFE;
}

.us_grid {
  background-color: #F2EFED;
  display: grid;
  grid-gap: 4.8rem 1.2rem;
  grid-template-columns: 1fr 1fr;
  padding: 4.8rem 2.4rem 2.8rem 2.4rem;
  text-align: center;
}

.usi {
  margin-bottom: 2.4rem;
}

#dash {
  padding: .5rem 0;
}



/**** Information Architecture ****/

.uf_img_cont {
  padding: 0 5%;
}
.uf_img_shell {
  position: relative;
  padding-top: 56.25%;
}
.uf_img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}


.change-screen-cont {
  background: #414141;
}

.change-screen {
  padding: 5.6rem 2.4rem;

}

.lofi-screen {
  position: relative;
  padding-top: 61.6%;
  z-index: 2;
}

.change-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}


/***** Brand ****/
.brand {

}

.lg_img_shell {
  position: relative;
  padding-top: 56.25%;
}

.lg_img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}


.cent_img {
  display: flex;
  justify-content: center;
  padding-bottom: 4.8rem;
}

.lm_shell {
  background-color: #109AFE;
  display: flex;
  justify-content: center;
  padding: 2.4rem 0;
}

/* .color_grid {
  display: grid;
  grid-template-areas:
  "ccell1 ccell2 ccell3 ccell4"
  "ccell5 ccell6 ccell7 ccell8";
}

.col {
  height: 25vw;
  width: 25vw;
  display: inline-block;
  text-align: center;
  line-height: 25vw;
  margin-right: -4;
  position: relative;
}

.ccell1 {
  background-color: #109AFE;
  color: #fff;
  grid-area: ccell1;
}

.ccell2 {
  background-color: #302C2C;
  color: #fff;
  grid-area: ccell2;
}

.ccell3 {
  background-color: #F0C048;
  grid-area: ccell3;
}

.ccell4 {
  background-color: #FF5F52;
  color: #fff;
  grid-area: ccell4;
}

.ccell5 {
  background-color: #5E5C5C;
  color: #fff;
  grid-area: ccell5;
}

.ccell6 {
  background-color: #ACA9A5;
  grid-area: ccell6;
}

.ccell7 {
  background-color: #EFEBE9;
  grid-area: ccell7;
}

.ccell8 {
  background-color: #F4F2F1;
  grid-area: ccell8;
} */

.swatch {
  display: grid;
  grid-gap: 1.3rem;
  grid-template-areas:
  "col1 col2 col3 col4"
  "col5 col6 col7 col8";
  padding: 0 2.4rem;
}

.swatch > div {
  height: 18vw;
  width: 18vw;
  line-height: 18vw;
}

.colcont {
  display: flex;
  justify-content: center;
}

.col1 {
  background-color: #109AFE;
  color: #fff;
  grid-area: col1;
}

.col2 {
  background-color: #302C2C;
  color: #fff;
  grid-area: col2;
}

.col3 {
  background-color: #F0C048;
  grid-area: col3;
}

.col4 {
  background-color: #FF5F52;
  color: #fff;
  grid-area: col4;
}

.col5 {
  background-color: #5E5C5C;
  color: #fff;
  grid-area: col5;
}

.col6 {
  background-color: #ACA9A5;
  grid-area: col6;
}

.col7 {
  background-color: #EFEBE9;
  grid-area: col7;
}

.col8 {
  background-color: #F4F2F1;
  grid-area: col8;
}

.slide_cont {
  display: block;
  position: relative;
}

.sgSlides {
  display: none;
   width: 100%;
}

.lt_gray {
  color: #414141;
  background-color: #F2EFED;

}

.display_left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%,-50%);
}

.display_right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%,-50%)
}

.slide_btn {
  border: none;
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 300;
  padding: .8rem 1.6rem;
  text-align: center;
  vertical-align: middle;
  width: auto;
}

/***** Brand ****/

.visual {

}

.dbl_btn {
  display: flex;
  justify-content: space-between;
}


.hifi_img_cont {
  background-color: #109AFE;
  display: flex;
  justify-content: center;
}

.hifi-img {
  display: flex;
}

.change_shell {
  padding-bottom: 4rem;
}

.change_shell h4 {
  padding: 0 2.4rem 1.6rem 2.4rem;
}

.hifi-change-cont {
  background: #414141;
  margin-bottom: 1.6rem;
}

.hifi-screen {
  position: relative;
  padding-top: 64%;
  z-index: 2;
}

.img-descrip {
  padding: 0 2.4rem;
}

.concl_img_cont {
  background-image: linear-gradient(#BBDCE5, #109AFE);:
}

/**** footer  ****/
footer {
  background-color: #414141;
  color: #fff;
  text-align: center;
}

.hr {
  width: 100%; height: .1rem; background: #C1BDBC;
}

.topft {
  padding: 3.2rem 2.4rem;
}

i {
  color: #fff;
}

.social {
  /* display: flex;
  justify-content: space-between;
  padding: 4rem 4rem 0 4rem; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 1.2rem;
  padding: 3.2rem 0 0 0;
}

.icon1 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.icon2 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.icon3 {
  grid-column-start: 4;
  grid-column-end: 5;
}

.icon4 {
  grid-column-start: 5;
  grid-column-end: 6;
}

.copy {
  padding: 2.4rem 0;
}
