/*** Color List
dark #414141
dark gray #767273
medium gray #C1BDBC
background lt gray #F2EFED
primary #3DA79A
accent blue #109AFE
accent red #F96D63
accent yellow #F6C548
***/




/**** global ****/
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #FFF;
  color: #414141;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 400;
}

header {
  position: relative;
}


nav {
  background-color: #fff;
  box-shadow: 0 .4rem 1.2rem rgba(65, 65, 65, .05);
  height: 10.8vh;
  position: relative;
  z-index: 4;
}

footer {
  background-color: #414141;
  color: #fff;
  display: grid;
  grid-area: 4/1/4/1;
  grid-template-columns: repeat(6, 1fr);
  position: relative;
  text-align: center;
}

.main {
  position: relative;
  z-index: 2;
}

.img {
  vertical-align: center;
}

.load_cont {
  opacity: 0;
  transition: all .5s ease;
  transform: translateX(50px);
}

.load_cont.fade-in {
  opacity: 1;
  transform: translateX(0);
}



/**** typography ****/


h1, h2, h3, h4, .description, .quote, .cite, .logotype {
  font-family: 'Halyard Display', 'Helvetica-Neue', Arial, Sans-Serif;
}

h1 {
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 6.7rem;
  margin-bottom: .8rem;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.8rem;
  margin-bottom: 1.6rem;
  text-transform: uppercase;
}

h3 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 4.8rem;
  margin-bottom: 1.6rem;
}

h4 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.5rem;
  margin-bottom: .8rem;
  text-transform: capitalize;
}

p{
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  max-width: 71.4rem;
}

a {
  color: #414141;
  font-size: 1.6rem;
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}


strong{
  font-weight: 400;
}

.small {
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-bottom: 0;
}

.description {
  font-size: 2rem;
  font-weight: 300;
  line-height: 3.2rem;
}

.quote {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.3rem;
  max-width: 47.2rem;
}

.cite {
  font-size: 2.4rem;
  font-style: italic;
  font-weight: 300;
  line-height: 2.8rem;
}

.btn, .label{
  border: none;
  color: #414141;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.5rem;
  text-align: center;
}


.description strong {
  color: #239588;
}

.logotype {
  display: none;
  font-size: 2.8rem;
  font-weight: 500;
  padding-left: 1.6rem;
}

.logo_end {
  font-weight: 300;
}

.inner_content > h4 {
  text-transform: uppercase;
}

.ib_h {
  color: #109AFE;
}


/**** buttons  ****/

.h_menu_btn {
  background-color: rgba(0,0,0,0);
  padding: 3.8vh 6.4vw;

}

.h_menu_btn:hover, .h_menu_btn:focus {
  color: #3DA79A;
}

.nav_menu_btn {
  background-color: #fff;
  padding: 3.8vh 6.4vw;
}

.nav_menu_btn:hover, .nav_menu_btn:focus {
  color: #3DA79A;
}

.closebtn {
  background-color: #414141;
  border: none;
  color: #fff;
  font-size: 3.2rem;
  font-weight: 300;
}

.closebtn:hover, .closebtn:focus {
  font-weight: 500;
}

.btn_small {
  align-items: center;
  display: flex;
  height: 7.2rem;
  justify-content: center;
  width: 100%;
}

.dark_btn:hover, .dark_btn:focus {
  background-color: #484848;
}

.dark_btn {
  background: #414141;
  color: #fff;
}

.primary_btn {
  background: #3DA79A;
  color: #414141;
  font-weight: bold;
}

.primary_btn:hover, .primary_btn:focus {
  background-color: #5EBDB2;
}

.blue_btn {
  background: #109AFE;
}

.blue_btn:hover, .blue_btn:focus {
  background-color: #40A2E9;
}

.btn_sec {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 6.4rem;
  justify-content: center;
}

.btn_sec_dark:hover, .btn_sec_dark:hover {
  background-color: #484848;
}

.btn_dbl {
  align-items: center;
  color: #fff;
  display: flex;
  flex-grow: 1;
  height: 6.4rem;
  justify-content: center;
  padding: 2.4rem;
}

.label {
  align-items: center;
  background: #109AFE;
  color: #fff;
  display: flex;
  height: 4.8rem;
  justify-content: center;
  width: 8.2rem;
}

.slide_btn {
  transform: translate(0%,-50%);
  transition: 0.6s ease;
  background-color: rgba(0,0,0,0);
  border: none;
  color: rgba(0,0,0,.2);
  cursor: pointer;
  display: inline-block;
  font-size: 4.8rem;
  padding: 0 .8rem .4rem .8rem;
  position: absolute;
  text-align: center;
  top: 50%;
  vertical-align: middle;
  width: auto;
}

.slide_btn:hover, .slide_btn:focus {
  background-color: rgba(193,189,188,.25);
  color: rgba(65,65,65,1);
}

.slide_btn:active {
  background-color: rgba(0,0,0,0);
  color: rgba(65,65,65,1);
}


/**** header  ****/

.tempnav {
  height: 10.8vh;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.tempnav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tempnav a {
  display: block;
  text-align: center;
  padding: 2.8vh 6.4vw;
}

.header_content {
  align-items: center;
  background-color: #F2EFED;
  display: flex;
  padding: 0 6.4vw;
  position: relative;
  min-height: 89.2vh;
  transition: all 1s ease-out;
  z-index: 1;

}

.header_content.bg-change {
  background-color: #414141;
  z-index: 1;
}

#lgtype {
  transition: color .2s;
}

#hlogo {
  transition: all .3s;
}



/**** nav menu  ****/

nav ul {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

nav a {
  display: block;
  text-align: center;
  padding: 0 6.4vw;
}


.nav_expmenu {
  display: none;
}

.nav_logo {
  padding: 2.8vh 0;
  position: relative;
  width: 100%;
  max-width: 4rem;
}

.menu_navbar {
align-items: center;
display: flex;
height: 10.8vh;
justify-content: space-between;
padding: 0 6.4vw;
}

#menu_links {
  background-color: #414141;
  bottom: 0;
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.menu_content {
  color: #fff;
}

#close_nav {
  cursor: pointer;
}

.menu_content > ul {
  padding-top: 7.2rem;
}

.menu_nav_links a {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 5.6rem;
  padding: 0 6.4vw ;
}

.menu_nav_links a:hover {
  color: #3DA79A;
}

#subnav {
  position: fixed;
  width: 100%;
  top:0;
}


/**********  main content  **********/

.border {
  display: grid;
  grid-column-gap: 1.2rem;
  grid-template-columns: repeat(6, 1fr);
  background: #F2EFED;
}

.section_num {
  display: none;
}

.sub_sec {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5.6rem 2.4rem 4rem 2.4rem;
}

.btn_shell {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  max-width: 50%;
  padding: 2.4rem 0;
}

.section {
  opacity: 0;
  transition: all 1s ease-out;
}

.section.fade-in {
  opacity: 1;
}



/**** hero  ****/


.hero {
  background-color: #FFF;
  display: flex;
  justify-content: center;
  padding: 4rem 2.4rem;
}

.hero2 {
  background-color: #FFF;
  display: grid;
  grid-area: 2/1/2/7;
  grid-column-gap: 1.2rem;
  grid-template-columns: repeat(6, 1fr);
}

.hero_background {
  background: #F2EFED;
  grid-area: 1/2/2/7;
  z-index: 1;
}


.hero_content {
    align-items: center;
    background: #F2EFED;
    display: flex;
    flex-direction: column;
    grid-area: 2/1/2/7;
    justify-content: center;
    min-height: 45vh;
    z-index: 2;
  }

.btn_shell_proj {
  display: flex;
  grid-area: 2/4/2/7;
  justify-content: flex-end;
  position: absolute;
  top: 61.4rem;
  width: 100%;
  z-index: 3;
}


.selected {
  align-items: center;
  background-color: #F2EFED;
  display: flex;
  grid-area: 1/1/1/7;
  min-height: 13.3vh;
  padding: 0 6.4vw;
  position: relative;
  z-index: 2;
}

.selected > h2 {
  margin-bottom: 0;
}


/**** Selected Projects  ****/


.feat_project {
  display: grid;
  grid-area: 2/1/2/7;
  grid-column-gap: 1.2rem;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 7.2vh;
}



.feat_proj_bkgrnd {
  background: #F2EFED;
  grid-area: 2/1/2/7;
}


.feat_proj_content {
    align-items: center;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    grid-area: 2/1/2/7;
    height: 43.3vh;
    justify-content: center;
    z-index: 2;
  }

.gradient {
  background-image: linear-gradient(#BBDCE5, #109AFE);
  grid-area: 1/1/1/7;
  min-height: 43.3vh;
  position: relative;
  z-index: 2;
}

.btn_shell_feat {
  display: flex;
  grid-area: 2/4/2/7;
  justify-content: flex-end;
  position: relative;
  top: -5vh;
  z-index: 3;
}

.btn_shell_proj {
  display: flex;
  grid-area: 2/4/2/7;
  justify-content: flex-end;
  position: relative;
  top: -5vh;
  z-index: 3;
}

.proj_img {
  background-image: url("../images/ideabase_hero_big.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 43.3vh;
  z-index: 2;
}

.project {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

.project.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.sectright {
  opacity: 0;
  transform: translateX(50px);
  transition: all 1s ease-out;
}

.sectright.fade-in {
  opacity: 1;
  transform: translateX(0);
}


.sectleft {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1s ease-out;
}

.sectleft.fade-in {
  opacity: 1;
  transform: translateX(0);
}



.inner_content {
  padding: 0 6.4vw;
}



/**** Overview ****/

.overview, .problem {
  padding: 8.4vh 6.4vw;
}

.overview {
  background: #FFF;
}

.over_cont {
  display: flex;
  flex-direction: column;
}

.summary {
  display: grid;
  grid-column-gap: 1.2rem;
  grid-template-columns: .5fr 3fr;
}

.o_title {
  grid-area: 1/1/1/4;
}

.o_leftcol {
  display: grid;
  grid-area: 2/1/2/4;
  grid-column-gap: 1.2rem;
  grid-template-columns: .5fr 3fr;
}

.o_rightcol {
  display: grid;
  grid-area: 3/1/3/4;
  grid-column-gap: 1.2rem;
  grid-template-columns: .5fr 3fr;
}

/**** Problem ****/

.problem {
  background-color: #F2EFED;
  text-align: center;
}

.prob_cont {
  align-items: center;
  display: flex;
  justify-content: center;
}


 /**** Solution ****/

.solution {
  padding: 8.4vh 0 0 0;
}

.solgrid {
  display: grid;
  grid-column-gap: 1.2rem;
  grid-template-columns: repeat(6, 1fr)
}

.sol {
  display: flex;
  grid-area: 1/1/1/7;
  justify-content: center;
}

.sc {
  display: flex;
  justify-content: center;
  padding: 0 6.4vw 6vh 6.4vw;
}

.si {
  grid-area: 2/1/2/7;
  position: relative;
  padding-top: 68%;
}

.si_img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}



/**** Process ****/

.process{
  background-color: #414141;
  color: #FFF;
  padding: 5.6rem 0;
}

.center {
  text-align: center;
  margin-bottom: 4.8rem;
}

.process_cont {
  display: flex;
  justify-content: center;
}

.process_grid {
  display: grid;
  grid-template-columns: .5fr 1fr 4fr;
  grid-column-gap: 1.2rem;
}

.process_grid div:nth-child(3n+1):nth-child(-n+13) {
  border-left: .1rem solid #fff;
}

.hor hr {
  position: relative;
  padding-right: 2.4rem;
  top: -.8rem;
}

.longline >hr {
  border: rgba(0,0,0,0);
}

.process_grid div:nth-child(3n+2):nth-child(-n+13) {
    margin-top: .6rem;
}

.process_grid div:nth-child(3n):nth-child(-n+13) {
  margin-bottom: 2rem;
}

.rowvert {
  display: none;
}


/**** Research & Define ****/

.sum_content {
  padding-bottom: 4rem;
}

.competitors {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  min-width: 32.7rem;
}

.ur_img {
  background-image: url("../images/user_research_m.jpg");
  background-size: cover;
  height: 12.8rem;
}

.ur_content, .results {
  padding: 4rem 2.4rem;
}
.ur_content {
  background-color: #F2EFED;
  display: flex;
  justify-content: center;
}

.result-contain {
  display: grid;
  grid-column-gap: 1.2rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;

}

.chart1_title, .chart2_title {
  text-align: center;
}

.chart1_title {
  grid-area: 1/2/1/6
}

.chart1 {
  grid-area: 2/2/2/6;

}

.cl {
  display: flex;
  grid-area:3/2/3/6;
  justify-content: center;
}

.cl_img {
  min-width: 15.6rem;
  height: 15rem;
  margin: 6.4vh;
}

.chart2_title {
  grid-area: 4/2/4/6
}

.chart2 {
  grid-area: 5/2/5/6;
}

.percent_grid {
  display: grid;
  grid-column-gap: 1.2rem;
  grid-template-columns: repeat(6, 1fr);
  grid-row: auto;
}

.percent1, .percent2, .percent3, .percent4 {
  display: flex;
  justify-content: center;
  margin-bottom: 3.2vh;
}

.percent1 {
  grid-area: 1/2/1/6;
}

.percent2 {
  grid-area: 2/2/2/6;
}

.percent3 {
  grid-area: 3/2/3/6;
}

.percent4 {
  grid-area: 4/2/4/6;
}

.p1 {
  color: #109AFE;
  margin-right: 4vw;
}

.c1 {
  align-items: center;
  display: flex;
  max-width: 21.6rem;
}


.insight {
  align-items: center;
  background-color: #414141;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 5.6rem 2.4rem;
}

.insight p {
  max-width: 61.3rem;
}

/**** Strategy ****/

.pers_cont {
  background-color: #F2EFED;
  padding-top: 4rem;
}

.persona {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}

.per_h {
  background-color: #109AFE;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 4rem 2.4rem;
}

.per_shell {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 0 2.4rem 4rem 2.4rem;
}

.per_shell p {
  max-width: 40rem;
}

.per_grid {
  display: grid;
  grid-column-gap: 1.2rem;
  grid-template-columns: 1fr 6fr;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.per_grid div:nth-child(odd) {
  color: #109AFE;
}

.per_cont > h4 {
  color: #109AFE;
}

.us_grid {
  background-color: #F2EFED;
  display: grid;
  grid-column-gap: 3.2vw;
  grid-template-columns: 1fr 1fr;
  padding: 6vh 6.4vw;
  text-align: center;
}

.usi {
  margin-bottom: 2.4rem;
}

.usc {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 6vh;
}

.usc > p {
  max-width: 18.8rem;
}

#dash_icon {
  padding: .5rem 0;
}



/**** Information Architecture ****/

.uf_img_cont {
  padding: 0 5%;
}
.uf_img_shell {
  position: relative;
  padding-top: 56.25%;
}
.uf_img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}


.change-screen-cont {
  background: #414141;
}

.change-screen {
  padding: .8rem 6.4vw 4.8rem 6.4vw;
}

.lofi-orig {
    background-image: url("../images/wire_add_orig_small.jpg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 40vh;
    z-index: 2;
}

.lofi-upd {
    background-image: url("../images/wire_add_upd_small.jpg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 40vh;
    z-index: 2;
}

.figcap_shell {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  z-index: 3;
}

.change-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}


/***** Brand ****/


.lg_img_shell {
  position: relative;
  padding-top: 56.25%;
}

.lg_img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.lg_left {
  background-image: url("../images/brand_mindmap.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}

.lg_right {
  background-image: url("../images/brand_sketch.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}

.cent_img {
  background-image: url("../images/brand_logocomp_m.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 12.9vh;
  margin-bottom: 7.2vh;
}

.lm_shell {
  background-color: #109AFE;
  display: flex;
  justify-content: center;
  padding: 1.2rem 1.2rem 0 1.2rem;
}

.lm_col {
  display: flex;
  flex: 100%;
  flex-direction: column;
  max-width:71.4rem;
}

.lm_col div {
  padding-bottom: 1.2rem;
}

.lm_col .limg {
  background-color: #fff;
}

.lm_col .limg_dk {
  background-color: #302C2C;
}


/** Typography **/


.type_shell {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.typ_cont {
  background: #F2EFED;
  padding: 4rem 2.4rem;
  margin-bottom: 4rem;
  min-width: 37.5rem;
}

.img_typ_1 {
  background-image: url("../images/faricy_small.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 20.8rem;
}

.img_typ_2 {
  background-image: url("../images/lato_small.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 20.8rem;
}

/** Colors **/

.swatch_cont {
  display: flex;
  justify-content: center;
}

.swatch {
  display: grid;
  grid-gap: 1.3rem;
  grid-template-areas:
  "col1 col2 col3 col4"
  "col5 col6 col7 col8";
  padding: 0 6.4vw;
}

.swatch > div {
  height: 18vw;
  width: 18vw;
  line-height: 18vw;
}


.colcont {
  display: flex;
  justify-content: center;
}

.col1 {
  background-color: #109AFE;
  color: #fff;
  grid-area: col1;
}

.col2 {
  background-color: #302C2C;
  color: #fff;
  grid-area: col2;
}

.col3 {
  background-color: #F0C048;
  grid-area: col3;
}

.col4 {
  background-color: #FF5F52;
  color: #fff;
  grid-area: col4;
}

.col5 {
  background-color: #5E5C5C;
  color: #fff;
  grid-area: col5;
}

.col6 {
  background-color: #ACA9A5;
  grid-area: col6;
}

.col7 {
  background-color: #EFEBE9;
  grid-area: col7;
}

.col8 {
  background-color: #F4F2F1;
  grid-area: col8;
}

.slide_cont {
  display: block;
  position: relative;
}

.sgSlides {
  /* display: none; */
   width: 100%;
}


.display_left {
  left: 0%;
}

.display_right {
  right: 0%;
}



/***** Visual Design ****/


.dbl_btn_cont {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 10px auto; */
  max-width: 100%;
}

.dbl_btn_cont a:first-of-type {
  margin-right: 1.2rem;
}

.hifi_img {
  background: url("../images/hifi.png");
  background-color: #109AFE;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  min-height: 50vh;

}

.change_shell {
  z-index: 2;
}

.change_shell h4 {
  padding-bottom: 2.4vh;
  text-align: center;
}

.hifi-change-cont {
  background: #414141;
  margin-bottom: 1.6rem;
}

.hifi-screen {
  position: relative;
  padding-top: 64%;
  z-index: 2;
}

.hifi-dash-orig {
    background-image: url("../images/hifi_dash_orig_small.jpg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 40vh;
    z-index: 2;
}

.hifi-dash-upd {
    background-image: url("../images/hifi_dash_upd_small.jpg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 40vh;
    z-index: 2;
}

.hifi-add-orig {
    background-image: url("../images/hifi_add_orig_small.jpg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 40vh;
    z-index: 2;
}

.hifi-add-upd {
    background-image: url("../images/hifi_add_upd_small.jpg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 40vh;
    z-index: 2;
}

.img-descrip {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 2.4rem 4rem 2.4rem;
}

.concl_img_back {
  background-image: linear-gradient(#BBDCE5, #109AFE);:
}

.cncl_desk_img {
  background-image: url("../images/scroll_desktop_small.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 39.3rem;
}

.concl_phn_img1 {
  background-image: url("../images/scroll_m_left_small.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 65rem;
}

.concl_phn_img2 {
  background-image: url("../images/scroll_m_right_small.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 65rem;
}




/********** ABOUT PAGE **********/

.about h2 {
  color: #3DA79A;
}

.ab_grid {
  display: grid;
  grid-column-gap: 1.2rem;
  grid-template-columns: repeat(6, 1fr);
}

.cent_capt {
  font-style: italic;
  text-align: center;
  margin-top: 1.6rem;
}

/***** Hero *****/

.about_img {
  grid-area: 1/1/1/7;
  min-height: 43.5vh;
  position: relative;
  z-index: 2;
}

.portf_img {
  background-image: url("../images/casey_fawcett.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  z-index: 2;
}

.about_content {
    align-items: center;
    background: #414141;
    color: #fff;
    display: flex;
    flex-direction: column;
    grid-area: 2/1/2/7;
    justify-content: center;
    min-height: 39.2vh;
    z-index: 2;
}

.about_background {
  /* background: #414141; */
  grid-area: 1/2/2/7;
  z-index: 1;
}

/***** The Beginning *****/

.beginning {
  grid-area: 3/1/3/7;
  position: relative;
}

.beg_shell {
  grid-area: 1/1/1/7;
}

.sketch_shell {
  grid-area: 2/1/2/7;
}

.beg_img{
  display: flex;
  grid-area: 1/1/1/7;
  justify-content: center;
}

.beg_right, .beg_left {
  flex: 1 1 auto;
  min-width: 18.1rem;
  max-width: 22.4rem;
}

.br {
  padding-right: 1.2rem;
}

.img_flx {
  display: block;
  max-width: 100%;
  max-height: 100vh;
}

.beg_capt {
  display: flex;
  font-style: italic;
  grid-area: 2/1/2/7;
  justify-content: center;
  padding: 0 6.4vw;
}

/***** Power of Design *****/

.power {
  grid-area: 4/1/4/7;
  position: relative;
}

.pow_shell {
  grid-area: 1/1/1/7;
}

.ab_quote {
  background: #F2EFED;
  display: flex;
  grid-area: 2/1/2/7;
  justify-content: center;
  padding: 4rem 6.4vw;
}


/***** Changing Direction *****/

.change_dir {
  grid-area: 5/1/5/7;
  position: relative;
}

.ch_dr_shell {
  grid-area: 1/1/1/7;
}

.fam_img {
  display: flex;
  grid-area: 2/1/2/7;
  justify-content: center;
}

.fam_img_shell {
  flex: 1 1 auto;
  min-width: 37.5rem;
  max-width: 71.4rem;
}



.ch_capt {
  display: flex;
  grid-area: 3/1/3/7;
  justify-content: center;
  margin-top: 1.6rem;
}



/***** Arrival *****/

.arrival {
  grid-area: 6/1/6/7;
  position: relative;
}


/***** Other Things *****/

.other_things {
  grid-area: 7/1/7/7;
  position: relative;
}

.other_grid {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.o_top, .o_bot {
  display: flex;
  justify-content: space-between;
}

.oi1, .oi3 {
  margin-right: 1.2rem;
}


/********** Footer  **********/

.topft, .social, .copy {
  padding: 0 6.4vw;
}
.topft {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: 1/1/1/7;
  margin: 4.8vh 0 1.8vh 0;
}


.social {
  display: grid;
  grid-area: 2/2/2/6;
  grid-column-gap: 1.2rem;
  grid-template-areas:
  "icon1 icon2 icon3 icon4";
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 4.8vh;
}

.white {
  color: #fff;
}

.icon1 {
  grid-area: icon1;
}

.icon2 {
  grid-area: icon2;
}

.icon3 {
  grid-area: icon3;
}

.icon4 {
  grid-area: icon4;
}

.hr {
  width: 100%; height: .1rem; background: #C1BDBC;
}

.hr_ft {
  grid-area: 3/1/3/7;
}

.copy {
  align-items: center;
  display: flex;
  grid-area: 4/1/4/7;
  justify-content: center;
  min-height: 6.4rem;
}


@media screen and (min-width: 700px) {

  .btn_shell_feat, .btn_shell_proj {
    display: flex;
    grid-area: 2/5/2/7;
    justify-content: flex-end;
    top: -4vh;
    z-index: 3;
  }

  /** research **/
  .chart1 {
    grid-area: 2/3/2/5;

  }

  .chart2 {
    grid-area: 5/3/5/5;
  }

  .percent1, .percent2, .percent3, .percent4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  }

  .percent1 {
    grid-area: 1/2/1/3;
  }

  .percent2 {
    grid-area: 1/3/1/4;
  }

  .percent3 {
    grid-area: 1/4/1/5;
  }

  .percent4 {
    grid-area: 1/5/1/6;
  }



  /** story **/

  .logo_proc {
    display: flex;
    width: 100%;
  }

  .lg_left {
    width: 50%;
  }

  .lg_right {
    width: 50%;
  }

  .cent_img {
    background-image: url("../images/brand_logocomp.jpg");
  }



  /** typography **/

  .typ_cont {
    display: flex;
    justify-content: center;
    padding: 4.8rem 4rem;
  }

  .typ_cont > div {
    min-width: 39.4rem;
  }

  /** color **/

  .swatch {
    display: grid;
    grid-gap: 1.3rem;
    grid-template-areas:
    "col1 col2 col3 col4 col5 col6 col7 col8";
    padding: 0 6.4vw;
  }

  .swatch > div {
    height: 9vw;
    width: 9vw;
    line-height: 9vw;
  }


  /********** ABOUT PAGE **********/



@media screen and (min-width: 1025px) {


  header {
    grid-area: 1/1/1/13;
  }

  nav {
    grid-area: 2/1/2/13
  }

  footer {
    display: grid;
    grid-area: 4/1/4/13;
    grid-column-gap: 1.2rem;
    grid-template-columns: repeat(12, 1fr);
  }

  .home {
    background-color: #F2EFED;
  }



/**** Typography ****/
  h1 {
    font-size: 6.4rem;
    line-height: 7.7rem;
  }

  h2 {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  h3 {
    font-size: 5.6rem;
    line-height: 6.7rem;
  }

  .description {
    font-size: 2.5rem;
    line-height: 3.6rem;
  }

  .quote {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }

  /**** buttons  ****/

  .h_menu_btn {
    background-color: rgba(0,0,0,0);
    padding: 3.8vh 0;
  }

  .h_menu_btn:hover, .h_menu_btn:focus {
    color: #3DA79A;
  }

  .nav_menu_btn {
    background-color: #fff;
    padding: 3.8vh 0;
  }

  .btn_small_dark {
    align-items: center;
    background: #414141;
    color: #fff;
    display: flex;
    height: 7.2rem;
    justify-content: center;
    width: 32.8rem;
  }

  .slide_btn {
    font-size: 6.4rem;
    padding: 0 1.6rem .8rem 1.6rem;
  }




  /**** nav menu  ****/

  nav a {
    padding: 0
  }

  .nav_menu {
    display: none;
  }

  .nav_expmenu {
    display: flex;
  }

  .exp_menu ul {
    display: flex;
    justify-content:space-between;
    padding: 0;
  }

  .exp_menu a {
    padding: 4.4vh 2.22vw;
  }

  .exp_menu a:hover, .exp_menu a:focus  {
    color: #3DA79A;
  }


  /**** Header ****/

  .tempnav ul, nav ul {
    padding: 0 8.47vw;
  }

  .tempnav a {
    padding: 2.8vh 0;
  }

  .nav_right {
    display: none;
  }

  .header_logo {
    align-items: center;
    display: flex;
  }

  .logotype {
    display: block;
  }

  .logotype > a {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }

  .header_content {
    align-items: center;
    justify-content: center;
    padding: 0 9.6rem;
  }

  #menu_links {
    display: none;
  }

  /**********     main content      **********/

  .section_num {
    display: flex;
    grid-area: 1/2/1/4;
    justify-content: flex-start;
    max-height: 17.7rem;
    padding: 7.2rem 1.2rem 0 0;
  }

  .sub_sec {
    align-items: flex-start;
    margin: 7.2rem 0 4.8rem 0;
  }

  .grid {
    display: grid;
    grid-column-gap: 1.2rem;
    grid-template-columns: repeat(12, 1fr);
  }


  /***** Hero *****/


  .hero2 {
    background-color: #FFF;
    display: grid;
    grid-area: 1/1/1/13;
    grid-column-gap: 1.2rem;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 7.2rem;
  }

  .hero_background {
    background: #F2EFED;
    grid-area: 1/2/1/12;
    z-index: 1;
  }

  .hero_content {
      align-items: center;
      display: flex;
      flex-direction: column;
      grid-area: 1/2/1/6;
      justify-content: center;
      padding: 0 6.4vw;
      min-height: 100%;
      z-index: 2;
    }

  .btn_shell_proj {
    display: flex;
    grid-area: 2/10/2/13;
    justify-content: flex-end;
    top: -4vh;
    width: 100%;
    z-index: 3;
  }

  /***** main *****/


  .selected {
    background-color: #F2EFED;
    grid-area: 1/2/1/12;
    padding: 0 8.4vw;
  }

  .feat_project {
    display: grid;
    grid-area: 2/1/2/13;
    grid-column-gap: 1.2rem;
    grid-template-columns: repeat(12, 1fr);
  }

  .feat_proj_content {
      background-color: #FFF;
      grid-area: 1/2/1/6;
      min-height: 100%;
      padding: 0 6.4vw;
      z-index: 2;
    }

  .gradient {
    background-image: linear-gradient(#BBDCE5, #109AFE);
    grid-area: 1/6/1/12;
    min-height: 43.3vh;
    z-index: 2;
  }

  .btn_shell_feat {
    display: flex;
    grid-area: 2/10/2/13;
    justify-content: flex-end;
    top: -4vh;
    z-index: 3;
  }

  .feat_proj_bk {
    background: #fff;
    grid-area: 1/2/1/12;
    z-index: 1
  }

  .btn_hshell {
    display: flex;
    grid-area: 2/10/2/13;
    justify-content: flex-end;
    position: absolute;
    top: 111.8rem;
    width: 100%;
    z-index: 3;
  }


  .proj_img {
    background-image: url("../images/ideabase_hero_big.png");
    min-height: 56rem;
    z-index: 2;
  }


  .inner_content{
    padding: 0;
  }

  .inner_content > h4 {
    min-width: 18.2rem;
  }

  .intro_content {
    width: 61.2rem;
  }

  /***** overview *****/

  .overview {
    grid-area: 2/1/2/13;
    padding: 0 0 8vh 0;
  }

  .over_cont {
    display: flex;
    flex-direction: column;
  }

  .over_cont > h2 {
    padding-left: 6.4vw;
  }


  .o_title {
    grid-area: 1/3/1/11;
  }

  .o_leftcol {
    display: grid;
    grid-area: 2/3/2/6;
    grid-column-gap: 1.2rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .o_rightcol {
    display: grid;
    grid-area: 2/7/2/11;
    grid-column-gap: 1.2rem;
    grid-template-columns: repeat(4, 1fr);
  }


  .oh1 {
    grid-area: 1/1/1/2;
  }

  .op1 {
    grid-area: 1/2/1/4;
  }

  .oh2 {
    grid-area: 2/1/2/2;
  }

  .op2 {
    grid-area: 2/2/2/4;
  }

  .oh3 {
    grid-area: 3/1/3/2;
  }

  .op3 {
    grid-area: 3/2/3/4;
  }

  .oh4 {
    grid-area: 1/1/1/2;
  }

  .op4 {
    grid-area: 1/2/1/5;
  }


  /***** problem *****/

  .problem {
    grid-area: 3/2/3/12;
    padding: 8.4vh 0;
  }

  /***** solution *****/

  .solution {
    grid-area: 4/1/4/13;
  }

  .solgrid {
    grid-template-columns: repeat(12, 1fr);
  }

  .sol {
    align-items: center;
    display: flex;
    grid-area: 1/7/1/12;
    justify-content: center;
    min-height: 100%;
  }

  .sc {
    padding: 0;
  }

  .si {
    grid-area: 1/1/1/7;
    position: relative;
    padding-top: 68%;
  }

    /***** process *****/

  .process {
    grid-area: 5/1/5/13;
  }

  .process_grid {
    display: grid;
    grid-column-gap: 1.2rem;
    grid-template-columns: repeat(12, 1fr);
  }

  .process_grid div:nth-child(3n+1) {
    padding-bottom: 1.6rem;
  }


  .process_grid div:nth-child(6n+4):nth-child(-n+13) {
    border-left: rgba(0,0,0,0);
  }

  .process_grid div:nth-child(3n+2):nth-child(-n+13) {
    align-items:baseline;
    display: flex;
    justify-content: flex-end;
    margin-top: 2.6rem;
  }

  .process_grid div:nth-child(3n):nth-child(-n+13) {
    margin: 2rem 0 0 0;
  }

  .hor > hr {
    display: none;
  }

  .vert1 {
    grid-area: 3/3/3/6;
  }

  .pi1 {
    grid-area: 4/2/4/3;
  }

  .pc1 {
    grid-area: 4/3/4/5;
  }

  .vert2 {
    grid-area: 3/5/3/7;
  }

  .pi2 {
    grid-area: 1/4/1/5;
  }

  .pc2 {
    grid-area: 1/5/1/7;
  }

  .vert3 {
    grid-area: 3/6/3/9;
  }

  .pi3 {
    grid-area: 4/5/4/6;
  }

  .pc3 {
    grid-area: 4/6/4/8;
  }

  .vert4 {
    grid-area: 3/8/3/10;
  }

  .pi4 {
    grid-area: 1/7/1/8;
  }

  .pc4 {
    grid-area: 1/8/1/10;
  }

  .vert5 {
    grid-area: 3/10/3/12;
  }

  .pi5 {
    grid-area: 4/9/4/10;
  }

  .pc5 {
    grid-area: 4/10/4/12;
  }

  .longline > hr {
    border: .05rem solid #fff;
  }

  .longline {
    grid-area: 3/2/3/12;
    padding-right: 2.4rem;
    position: relative;
    top: -.5rem;
  }

  .rowvert {
    display: block;
    border-left: .1rem solid #fff;
    height: 2.4rem;
    margin: 0;
  }

  .v1 {
    grid-area: 2/5/2/7;
  }

  .v2 {
    grid-area: 2/8/2/10;
  }



    /***** research *****/

  .research {
    grid-area: 6/1/6/13;
  }

  .ca_shell {
    grid-area: 1/4/1/10;
  }

  .competitors {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .user_research {
    display: grid;
    grid-area: 2/1/2/13;
    grid-column-gap: 1.2rem;
    grid-template-columns: repeat(12, 1fr);
  }

  .ur_img {
    background-image: url("../images/user_research.jpg");
    grid-area: 1/2/1/12;
    min-height: 30vh;
  }

  .ur_content {
    grid-area: 2/2/2/12;
  }

  .ur_inner {
    width: 62%;
  }

  .results {
    grid-area: 3/2/3/12;
    padding: 6.4rem 0;
  }

  .result-contain {
  grid-template-columns: repeat(10, 1fr);
  }

  .chart1_title {
  grid-area: 1/2/1/6
  }

  .chart1 {
    grid-area: 2/2/2/4;

  }

  .cl {
    align-items: center;
    display: flex;
    grid-area:2/4/2/6;
    justify-content: center;
  }

  .cl_img {
    min-width: 15.6rem;
    height: 15rem;
    margin: 0 6.4vw;
  }

  .chart2_title {
    grid-area: 1/6/1/10
  }

  .chart2 {
    grid-area: 2/6/2/10;
  }


  .percent_grid {
    grid-area: 4/2/4/12;
    grid-template-columns: repeat(10, 1fr);
    margin-bottom: 6.4rem;
  }

  .percent1, .percent2, .percent3, .percent4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  }

  .percent1 {
    grid-area: 1/2/1/4;
  }

  .percent2 {
    grid-area: 1/4/1/6;
  }

  .percent3 {
    grid-area: 1/6/1/8;
  }

  .percent4 {
    grid-area: 1/8/1/10;
  }

  .p1 {
    color: #109AFE;
    margin-right: 4vw;
  }

  .c1 {
    display: flex;
    max-width: 21.6rem;
  }

  .grid-contain {
    grid-template-columns: repeat(12, 1fr);
  }

  .insight {
    grid-area: 5/1/5/13;
    padding: 6.4rem 0;
  }

  .insight_inner {
    width: 51%;
  }

  /***** strategy *****/

  .strategy {
    grid-area: 7/1/7/13;
  }

  /** personas **/

  .persona_shell {
    grid-area: 1/4/1/10;
  }

  .pers_cont {
    display: grid;
    grid-area: 2/1/2/13;
    grid-column-gap: 1.2rem;
    grid-template-columns: repeat(12, 1fr);
    padding: 7.2rem 0;
  }

  .persona {
    padding-bottom: 0;
  }

  .pers_two {
    grid-area: 1/7/1/12;
  }

  .pers_one {
    grid-area: 1/2/1/7;
  }

  /** user stories **/

  .user_story {
    display: grid;
    grid-area: 3/2/3/12;
    grid-column-gap: 1.2rem;
    grid-template-columns: repeat(10, 1fr);
  }

  .us_shell {
    grid-area: 1/3/1/9;
  }

  .us_grid {
    grid-area: 2/1/2/11;
    grid-column-gap: 1.2rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 6vh 6.4vw;
    text-align: center;
  }

  .usc {
    margin-bottom: 0;
  }

  /***** information architecture *****/

  .ia {
    grid-area: 8/1/8/13;
  }

  /** user flows & sitemaps **/

  .uf_shell {
    grid-area: 1/4/1/10;
  }

  .user_flows {
    grid-area: 2/3/2/11;
  }

  /** wireframes & testing **/

  .wireframe {
    background: #F2EFED;
    display: grid;
    grid-area: 3/2/3/12;
    grid-column-gap: 1.2rem;
    grid-template-columns: repeat(10, 1fr);
    margin-bottom: 7.2rem;
  }

  .wf_shell {
    display: flex;
    grid-area: 1/2/1/6;
    justify-content: center;
  }

  .lofi_changes {
    grid-area: 1/7/1/11;
  }

  .change-screen {
    padding: 0 2vw;
  }

  /***** brand *****/

  .brand {
    grid-area: 9/1/9/13;
  }

  /** story **/

  .story_shell {
    grid-area: 1/4/1/10;
  }

  .logo_proc {
    grid-area: 2/1/2/13;
  }

  .lg_img {
    height: 40vh;
  }

  .logo_shell {
    grid-area: 3/4/3/10;
  }

  .cent_img {
    background-image: url("../images/brand_logocomp.jpg");
    grid-area: 4/5/4/9;
    height: 18.2vh;
  }

  .lm_shell {
    grid-area: 5/1/5/13;
    padding: 4rem 0 2.8rem 0
  }

  .lm_col {
    grid-area: 1/4/1/10;
  }


  /** typography **/

  .t_shell {
    grid-area: 1/4/1/10;
  }

  .type_shell {
    flex-direction: row;
    grid-area: 2/2/2/12;
    justify-content: center;
  }

  .typ_cont {
    min-width: 39.4rem;
  }

  .typ_right {
    margin-right: 1.2rem;
  }

  /** color **/

  .color {
    margin-bottom: 7.2rem;
  }

  .col_shell {
    grid-area: 1/4/1/10;
  }

  .swatch_cont {
    grid-area: 2/2/2/12;
  }

  /** style guide **/

  .guide {
    background: #F2EFED;
  }

  .guide_shell {
    grid-area: 1/2/1/5;
  }

  .guide_inner > div {
    display: none;
  }

  .slide_cont {
    grid-area: 1/6/1/12;
    margin: 7.2rem 0;
  }


  /***** visual design *****/

  .visual {
    grid-area: 10/1/10/13;
    padding-bottom: 7.2rem;
  }

  /** high fidelity prototype **/
  .hifi_prot {
    grid-area: 1/4/1/10;
  }

  /** hifi user testing **/
  .user_test {
    grid-area: 2/1/2/13;
  }

  .ut_shell {
    grid-area: 1/4/1/10;
  }

  .hifi_one {
    grid-area: 2/1/2/13;
  }

  .change_title {
    grid-area: 1/4/1/10;
  }

  .hifi_before {
    grid-area: 2/1/2/7;
  }

  .hifi_after {
    grid-area: 2/7/2/13;
  }

  .change-screen {
    border-left: .1rem solid #767273;
    min-height: 45vh;
    padding: .8rem 2vw 5.6rem 2vw;
  }

  .hifi-change-cont {
    margin-bottom: 0;
  }

  .hifi-dash-orig {
    background-image: url("../images/hifi_dash_orig_large.jpg");
    min-height: 45vh;
  }

  .hifi-dash-upd {
    background-image: url("../images/hifi_dash_upd_large.jpg");
    min-height: 45vh;
  }

  .hifi-add-orig {
    background-image: url("../images/hifi_add_orig_large.jpg");
    min-height: 45vh;
  }

  .hifi-add-upd {
    background-image: url("../images/hifi_add_upd_large.jpg");
    min-height: 45vh;
  }

  .img-descrip {
    margin: 1.6rem 0 4.8rem 0;
  }

  .desc_bfr {
    grid-area: 3/2/3/6;
  }

  .desc_aft {
    grid-area: 3/8/3/12;
  }

  .ch_bck {
    grid-area: 2/1/2/13;
    background: #414141;
    height: 100%;
    z-index: 1;
  }

  .hifi_two {
    grid-area: 3/1/3/13;
  }



  /***** conclusion *****/

  .conclusion {
    grid-area: 11/1/11/13;
  }

  .concl_img_back {
    display: grid;
    grid-area: 1/2/1/12;
    grid-column-gap: 1.2rem;
    grid-template-columns: 1fr 1fr;
  }

  .ci1 {
    grid-area: 1/1/1/3;
  }

  .ci2 {
    grid-area: 2/1/2/2;
  }

  .ci3 {
    grid-area: 2/2/2/3;
  }

  .cncl_desk_img {
    background-image: url("../images/scroll_desktop.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 86.7rem;
  }

  .concl_phn_img1 {
    background-image: url("../images/scroll_m_left.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 65rem;
  }

  .concl_phn_img2 {
    background-image: url("../images/scroll_m_right.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 65rem;
  }

  .concl_shell {
    grid-area: 2/4/2/10;
  }


  /**********     About Page      **********/



  .hero2 {
    background-color: #FFF;
    display: grid;
    grid-area: 1/1/1/13;
    grid-column-gap: 1.2rem;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 7.2rem;
  }

  .about_background {
    background: #414141;
    grid-area: 1/2/1/12;
    z-index: 1;
  }

  .about_content {
      align-items: center;
      display: flex;
      flex-direction: column;
      grid-area: 1/2/1/6;
      justify-content: center;
      padding: 0 6.4vw;
      min-height: 100%;
      z-index: 2;
    }

    .about_img {
      grid-area: 1/6/1/12;
      z-index: 2;
    }

    .portf_img {
      background-image: url("../images/casey_fawcett.jpg");
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      height: 60vh;
      width: 100%;
      z-index: 2;
    }


    /***** The Beginning *****/

    .beginning {
      grid-area: 2/1/2/13;
    }

    .beg_shell {
      grid-area: 1/4/1/10;
      margin-top: 0;
    }

    .sketch_shell {
      grid-area: 2/4/2/10;
    }

    /***** Power of Design *****/

    .power {
      grid-area: 3/1/3/13;
    }

    .pow_shell {
      grid-area: 1/4/1/10;
    }

    .ab_quote {
      background: #F2EFED;
      grid-area: 2/1/2/13;
    }


    /***** Changing Direction *****/

    .change_dir {
      grid-area: 4/1/4/13;
    }

    .ch_dr_shell {
      grid-area: 1/4/1/10;
    }

    .fam_img {
      display: flex;
      grid-area: 2/4/2/10;
      justify-content: center;
    }


    .ch_capt {
      grid-area: 3/4/3/10;
    }



    /***** Arrival *****/

    .arrival {
      grid-area: 5/1/5/13;
    }

    .arr_shell {
      grid-area: 1/4/1/20;
    }


    /***** Other Things *****/

    .other_things {
      align-items: center;
      display: flex;
      flex-direction: column;
      grid-area: 6/1/6/13;
      padding-bottom: 7.2rem;
    }


    .other_grid {
      align-items: center;
      display: flex;
      flex-direction: row;
    }

    .oi2 {
      margin-right: 1.2rem;
    }


  /**********     Footer      **********/

  .topft, .copy {
    padding: 0;
  }

  .topft {
    grid-area: 1/5/1/9;
  }

  .social {
    display: grid;
    grid-area: 2/5/2/9;
    grid-template-areas:
    "icon1 icon2 icon3 icon4";
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 4rem;
  }

  .icon1 {
    grid-area: icon1;
  }

  .icon2 {
    grid-area: icon2;
  }

  .icon3 {
    grid-area: icon3;
  }

  .icon4 {
    grid-area: icon4;
  }

  .hr_ft {
    grid-area: 3/1/3/13;
  }

  .copy {
    grid-area: 4/5/4/9;
  }

}
